/* Format filters to be wider including the picker element. */
.plex-input-medium,
.plex-input-dynamic.plex-picker-input-wrapper,
.plex-filter-content .controls input[type="text"]:not(.plex-picker-input-wrapper .plex-picker-selected-items+input),
.plex-picker-item,
.plex-select-wrapper .plex-control-select {
    width: 250px !important;
}
.plex-widget-actionlist-container li {
    padding: 2px !important;
}
.plex-sidetabs-menu-page-content-container>.fixed-element-wrapper>.plex-filter .plex-filter-content.form-horizontal .controls{
    width: 85% !important;
    padding-left: 0px !important;
}
.plex-picker-input-wrapper.plex-input-dynamic.plex-picker-date-range .plex-picker-item{
    max-width: 70% !important;
}
/* Reformat grid column headers to reduce empty space. */
.plex-grid .plex-grid-header-row > th {
    padding-top: 9px !important;
    padding-bottom : 6px !important;
/* The text alignment is different depending on the type of data. */
/*     text-align: center !important; */
    padding-right: 1px !important;
    padding-left: 1px !important;
}
.plex-grid-header-inner-content{
    padding-right: 2px !important;
    padding-left: 2px !important;
}
/* Basically converts three column filters into four columns. */
.plex-sidetabs-menu-page-content .plex-filter-three-column .control-group{
    width: calc(25% - 2px * 2) !important
}
.plex-filter-controls > .plex-control-label {
    width: 25% !important;
    padding-left: 0px !important;
}